/* frontend/src/index.css */

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Prevent white flash on reload in dark mode */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center; 
  min-width: 320px;
  min-height: 100vh;
  /* We handle the cool zombie background in App.css, 
     so we just need basic reset here */
}

/* Make sure the app takes up full width */
#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


